*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 20px;
  color: #3b5441;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.userInfo,
._loginRegister{
  background-color: rgb(222 222 222 / 10%);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    backdrop-filter: blur(3px);
}

._loginRegister .form-control{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

._loginRegister .form-control label{
  font-weight: bold;
  margin-bottom: 3px;
}

[type="text"],
[type="email"],
[type="password"]{
  padding:7px 10px;
  outline: none;
  margin-bottom: 5px;
  font-size: 16px;
  border-radius: 13px;
  
    border: 1px solid rgba(0, 0, 0, .3);
}

[type="text"]:hover,
[type="text"]:focus,
[type="email"]:hover,
[type="email"]:focus,
[type="password"]:hover,
[type="password"]:focus
{
  border-color: #107a8b;
}
.input {
  background: hsl(0deg 0% 87% / 50%);
    border-radius: 10px;
}

._navBtn button,
[type="submit"]{
  background: #4b48ff;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
 
  
  margin-top: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  outline: none;
}
._navBtn button:hover,
[type="submit"]:hover{
  opacity: .9;
}

._navBtn{
  border-top: 1px solid #dedede;
  margin-top: 5px;
}
._navBtn button{
  background: #555555;
  color: #ffffff;
  width: 100%;
  
}

.success-msg,
.error-msg{
  border: 1px solid #ff304f;
  padding: 10px;
  color: #ff304f;
  font-weight: bold;
  border-radius: 2px;
}

.success-msg{
  color: #24b273;
  border-color: #24b273;
}

.userInfo{
  text-align: center;
}

.userInfo ._img{
  font-size: 50px;
}
.userInfo h1{
  text-transform: capitalize;
  margin: 10px 0;
}
.userInfo ._email{
  margin: 10px 0;
  color: #555555;
}
.userInfo button{
  margin-top: 5px;
  background: blue;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: 5px solid rgba(0, 0, 0, .1);
  outline: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: background .3s;
}
.userInfo button:hover {
  border-color: blue;
  color: blue;
  background: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-image: url('./back.jpg');
   background-size: cover;
  padding: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
}

.App h1 {
  background-color: #f9f9f9;
  text-align: center;
  padding: 20px;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.left-side {
  width: 30%;
}

.right-side {
  padding-left: 20px;
  width: 70%;
}

.right-side table {
  width: 100%;
  border-collapse: collapse;

}


.right-side table th,
.right-side table td {
  border: 1px solid #cccccc;
  padding: 10px;
  text-align: center;
}

.right-side table td button {
  margin: 5px;
}

.right-side table th {
  background-color: #F9FAFB;
  font-size: 20px;
  padding: 15px;
}

.right-side table button {
  cursor: pointer;
}

.insertForm{
  background-color: #F9FAFB;
  border: 1px solid #cccccc;
  padding: 10px;
}

.insertForm h2 {
  margin: 0 0 10px 0;
  text-align: center;
}

.insertForm label {
  font-weight: bold;
}

.insertForm input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 5px;
}

.insertForm [type="submit"] {
  margin-top: 5px;
  background: #1F2937;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

}

.insertForm [type="submit"]:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.btn{
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3px 5px;
  outline: none;
  border-radius: 2px;
}
.red-btn,
.green-btn{
  background: #059669;
  color: #ffffff;
}
.red-btn{
  background: #DC2626;
}
.default-btn{
  background: #E5E7EB;
}
.btn:hover{
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}